@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
background-color: white;
}
.grid {
    display: grid;
    grid-template-columns: 25% 25% auto 25%;
    grid-template-rows: 20% 95% 90%;
    height:600px;
    grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item3 item3"
    "item4 item4 item4 item4"
    "item5 item5 item5 item5";
}

.item1 {
    grid-area: item1;
    background-color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end:1;
    padding: 10px 16px;
    top: 0;
   
}

.logo img {
    height:6vw;
    width: vw;
    margin-top: 1vw;
    padding-left:2vw;
    position: sticky;
    top: 0;

}
.logo {
    display:block;
    float: left;
}
.name {
    padding: 3vw;
}
.name h2 {
    align-items: center;
    margin-top: 0vw;
    margin-left: 3vw;
    font-family: 'Raleway', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5vw;
    float: left;
    /*text-shadow: rgb(169, 176, 206) 5px 5px 4px;*/
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 200;
    
}
.name a {
    color:rgb(0, 0, 0);
    padding: 3vw 5vw 0vw 0vw;
    font-family: 'Manrope', sans-serif;
    font-family: 'Julius Sans One', sans-serif;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: vw;
    align-items: center;
    float: right;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;

}
a:hover {
    color:#9486A3;
}



.item2{
    grid-area: item2;
    grid-column-start: 1;
    text-align: center;
    font-size:1.5vw;
    padding:8vw 0vw 0vw 3vw;
    width: 50vw;
    background-color: #f3f3f3;
    

}
.item2 h1 { 
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    font-size: 4.5vw;
    background-image: 
    url(https://media.giphy.com/media/26BRvIYDe4ILO60Ni/giphy.gif);
    background-size: cover;
    color:transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    margin: 10px 0;
    position: absolute;

    

}
.item2 h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6vw;
    margin-top: 18vw;
    font-family: 'Wire One', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    font-family: 'Rajdhani', sans-serif;
    margin-left: 3vw;
}
.headline h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3vw;
    margin-top:9vw;
    margin-left: 17vw;


}
.headline hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
}
.item2 img {
    width: 7vw;
    height: 6vw;
    margin: 3vw 3vw 3vw 3vw;
    position: absolute;

}
.icons {
    display: flex;
    /*position: absolute;*/
    padding-left: 5vw;
    padding-top: 3vw;
}

.item3 {
    grid-area: item3;
    background-color: #f3f3f3;
    
    
}

.item3 img {
    height: auto;
    width:30vw;
    margin-left:9vw;
    opacity: 0.9;
    margin-top: 2.5vw;
  
}

.pic {
    margin-top: 2vw;
    
}

.item4 {
    grid-area: item4;
    padding-top: 8vw;
    padding-left: 3vw;
    padding-right: 3vw;
   

}
.item4 h1 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Manrope', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Wire One', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
}
.item4 h2 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 100;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
.cases {
    column-count: 3;
    padding-left: 2vw;
}
hr {
    width: 30%;
    margin-left: 33vw;
    margin-right: auto;
    margin-bottom: 3vw;
}

.box1 {
    height:16vw;
    position: relative;
}
.box1:hover .overlay{
    opacity: 1;
}

.image {
    column-count: 3;
    width: 27vw;
   height: 20vw;
    margin-top: 3vw;
    box-shadow:  5px 2px rgba(143, 143, 143, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   }

   .box2 {
    height:16vw;
    position: relative;
    }
    
    .box2:hover .overlay{
        opacity: 1;
      
    
    }
    .box3 {
    height:16vw;
    position: relative;

    }
    .box3:hover .overlay{
        opacity: 1;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 21.5vw;
        width: 27vw;
        opacity: 0;
        margin-top: 3vw;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.603);
        padding:1.5vw;
       /* border: 1px solid rgb(255, 255, 255);*/


    }
    .overlay1 {
        position: absolute;
        top:0;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 5vw;
        text-align: center;
        margin:7vw;

    }
    .container {
        position: relative;
        width: 30vw;
        max-width: 50vw;
    }
    .container:hover .overlay1 {
        opacity: 1;
    }

    .text1 {
        text-align: center;
        margin-top: 6vw;
        padding-left: -2vw;
        font-size: 2vw;
        font-family: 'Raleway', sans-serif;
        color:white;
        font-weight: bolder;
        font-family: 'Julius Sans One', sans-serif;
    }

    .item5 {
        grid-area: item5;
       margin-top: 5vw;
        height: 10vw;
    }

    .info {
        width: 45vw;
        height: 33vw;
        padding: 3vw;
        border: 2px solid #E6DDF0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: black;
        color:white;
    }
    
    .info p {
        text-align: left;
        font-family: 'Manrope', sans-serif;
        font-size: 1.2vw;
        line-height: 1.6;
        font-family: 'Rajdhani', sans-serif;
    }

    .info1 {
        text-align: center;

    }
    .boxpic img {
        margin-top: 7vw;
    }
    .info1 p {
        font-family: 'Julius Sans One', sans-serif;
        margin:2vw;
        font-size: 1.7vw;
    }
    .info2 {
        justify-content: space-between;
        margin-top:2vw;
        width: 600px;
        margin: 50px auto;
      
    }
    .box{
        background-color:#F0F0DD;
        margin-top:1vw;
        display:flex;
        justify-content: space-between;
        cursor: pointer;
        height:4vw;
        padding-left:2vw;
        padding-top: 1vw;
    }
    
    .text {
        display:none;
        text-align: left;
        margin: 0;
        padding: 5px 10px;
        font-size: 18px;
        background-color: white;
    }
    .info2 p {
        font-family: 'Rajdhani', sans-serif;
        font-weight: 100;
        font-size: 1.3vw;
    }
    h4 {
        font-size: 1.3vw;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 100;

    }

    /*cases*/

    .gridmaster {
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        height:px;
        background-color: hsl(0, 0%, 100%);
        grid-template-areas: 
        "item1 item1 item1 item1"
        "item6 item6 item7 item7" 
        "item8 item8 item8 item8" 
        "item9 item9 item10 item10"
        "item11 item11 item12 item12"
        "item13 item13 item14 item14"
        "item15 item15 item16 item16"
        "item5 item5 item5 item5";
    }
    .item6 {
        grid-area: item6;
        background-color: #f3f3f3;

    }

    .infotext {
        width: 50vw;
        padding-top: 3vw;
        /*border: 1px solid black;*/
        padding-left: 5vw;
        padding-right: 5vw;
        margin: 4vw;
    }
    .infotext h1 {
        font-family: 'Julius Sans One', sans-serif;
        margin-bottom: 2vw;
        font-size: 2.2vw;
        margin-left:2vw;
    }
    .infotext p {
        font-family: 'Rajdhani', sans-serif;
    
    }

    .item7 {
        grid-area: item7;
        background-color: #f3f3f3;
    }
    .btn {
        width: 15vw;
        height: 5vw;
        background-color:#ffffff;
        border: 2px solid rgb(173, 173, 173);
        box-shadow: 5px 5px 5px rgb(184, 180, 180);
        font-size: 1.3vw;
        cursor: pointer;
        height: 4vw;
        margin-left:9vw;
        margin-bottom: 2vw;
        font-family: 'Julius Sans One', sans-serif;
       
    }
    .btn:hover {
        border-color:#E6DDF0;


    }
    .linkcase a {
        text-decoration: none;
        margin-left: 9vw;
        font-family: 'Julius Sans One', sans-serif;
        color:black;
    }
    .linkcase a:active {
        color:red;
    }
    .casepic {
        position: relative;
        width: 20vw;
        height: vw;
        margin:5vw;
        max-width: 300px;
    }
    .imgcase {
        display:inline-block;
        width: 100%;
        height: auto;
        margin:7vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .casepic img {
        width: 35vw;
        height: 25vw;
        box-shadow: 5px 3px 5px grey;
    }

    .item8 {
        display:grid;
        grid-area: item8;
        text-align: center;
        font-size: 3vw;
        margin-top:3vw;
        
    }
    h5 {
        font-family: 'Julius Sans One', sans-serif;
    }

    p {
        font-family: 'Rajdhani', sans-serif;
        padding:2vw;
    }


    .vl {
        border-left: 2px solid rgb(233, 226, 226);
        height:90vw;
        position: absolute;
        left: 50%;
        margin-left:vw;
    }

    .item9 {
        display:grid;
        grid-area: item9;
        margin:3vw 3vw 0vw 3vw;
        border-bottom: 3px solid rgb(227, 221, 233);
        padding-top: 3vw;
        padding-bottom: 3vw;
    
    }
    
    .item9 h5 {
        text-align: center;
        font-size: 2vw;
        padding-bottom: 2vw;
    }

    .item10 {
        display: grid;
        grid-area:item10;
        margin:3vw 3vw 0 3vw;
    
    }
    .item11 {
        display: grid;
        grid-area: item11;
        margin:5vw 3vw 0vw 3vw;
        border-bottom: 3px solid rgb(227, 221, 233);
        padding-bottom: 11vw;
        
    }
    .item11 h5 {
        text-align: center;
        font-size: 2vw;
        padding-bottom: 2vw;
    }

    .item12 {
        display: grid;
        grid-area: item12;
    }
    .item12 img {
        width: 13vw;
        height: 20vw;
    }
    .persona img {
        width: 40vw;
        height: 30vw;
        margin-left: 4vw;
    }
    .sketch img {
        margin:6vw 0 6vw 5vw;
    }

    .item13 {
        grid-area: item13;
        margin:3vw 3vw 0vw 3vw;
        border-bottom: 3px solid rgb(227, 221, 233);
        
    }
    .item13 p {
        margin-top: 0vw;
    }
    .item13 h5 {
        text-align: center;
        font-size: 2vw;
        padding-bottom: 0vw;
        padding-top: 3vw;
    }
    .item14 {
        display: grid;
        grid-area:item14;
     
    }
    .sketchmusic img {
        margin: 5vw 3vw 0vw 4vw;
        width: 15vw;
        height: 22vw;
        
    }
    .mockupsvale img {
        margin:3vw 0 4vw 5vw;
        height: 30vw;
        width: 35vw;

    }

    .item15 {
        display: grid;
        grid-area: item15;
        margin:3vw 3vw 0vw 3vw;   
        padding-top: 3vw;


    }

    .item15 h5 {
        text-align: center;
        font-size: 2vw;
        padding-bottom: 2vw;
    }
    .item16 {
        display: grid;
        grid-area: item16;
    }
    .mockupmusic img {
        margin:9vw 0 3vw 3vw;
        height: 25vw;
        width: 40vw;
    }

  
    

    /*Kontakt side*/
    .contact {
       margin-top: 4vw;
       text-align: center;
    }


    .item6 ul {
        margin-left: 18vw;
        margin-top: 3vw;
        font-size: 1.5vw;

    }
    .item6 h2 {
        text-align: center;
        font-size: 3vw;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 100;
    }
    .item6 li {
        margin:2vw 0vw 2vw 3vw;
       
        font-family: 'Raleway', sans-serif;
        
    }

    .footer {
        
        width: 100;
        height: 8vw;
        margin-top: 6vw;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 100;
        padding-top:3vw;
        padding-left: 3vw;
        border-top-style: double;
        border-top-color: #cfcdcd;
        border-width: 4px 3px;
    }
    .footer h2 {
        font-weight: 100;
        font-size: 1.5vw;
    }
    .footer h3 {
    
        font-weight: 100;
        font-size: 1vw;
    
    }
    .far fa-copyright {
        width: 4vw;
        height: 4vw;
        background-color: crimson;
    }
    /* CV*/
    .imgcv {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 30vw;
    }
    .item7 img {
        margin-right: 4vw;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        
        header nav ul {
            display: block;
        }

        .grid {
            display: block;

        }
        .item2 {
            margin-left:20vw;
            padding-top: 15vw;
            background-color: white;
        }

        .item3 {
            padding-left:25vw;
            
        }
        .item3 img {
            box-shadow: none;
            border: #F0F0DD;
            border-width: 1vw;
            border-style: solid;
            margin-top: 3vw;
        }
        .boxpic {
            display: none;

        }
        .item4 {
            padding-top: 10vw;
        }

        .box {
            width: 90vw;
        }
        .item6 {
            display:none;
        }


  
      
     
   
    
    
      
    